---
author: Lucy Goodfellow
title: Markdown Slides | Overview
description: Overview of slides by Lucy Goodfellow
design: white
---


<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
<body>
  <div class="reveal">
		<div class="slides">
        <section id="overview" data-markdown data-separator="\n---\n">
            <script type="text/template">

# Markdown slides
Lucy Goodfellow

<br>

<ul style="list-style-type: '- ';">
<li>[Epidem slides, August 18th](/markdownslides/august_18)</li>
<li>[Github](https://github.com/lucy-gf/)</li>
</ul>

<br>
<br>



            </script>
        </section>
			{{ content }}
		</div>
	</div>
	{% include script.html %}
</body>
</html>
