---
author: Lucy Goodfellow
title: Markdown Slides | Overview
description: Overview of slides by Lucy Goodfellow
design: white
---


<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
<body>
  <div class="reveal">
		<div class="slides">
        <section id="overview" data-markdown data-separator="\n---\n">
            <script type="text/template">

# Markdown slides
Lucy Goodfellow

<br>

[Test slides, August 18th](/markdownslides/august_18)

[Epidem open session slides, August 25th](/markdownslides/august_25)

[Github](https://github.com/lucy-gf/)

            </script>
        </section>
			{{ content }}
		</div>
	</div>
	{% include script.html %}
</body>
</html>
