.reveal, .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6, .reveal p {
  text-transform: none;
}
.reveal, .reveal h4 {
  text-align: left;
}
.reveal smallest {
  display: inline-block;
  font-size: 0.5em;
  line-height: 1em;
  vertical-align: top; }

.reveal smallest * {
  vertical-align: top; }
  
.reveal .slides section.top-aligned {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.reveal .slides section.top-aligned h3:first-child {
  margin-top: 30px;
  margin-bottom: 30px;
}
